.tile {
    position: relative;
    border-radius: 8px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    padding: 8px;
    width: 320px;
    height: 320px;
    color: #333;
    overflow: hidden;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}