.icon {
    margin: auto;
    width: 100px;
    height: 100px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    transition: all 1s ease;
    cursor: pointer;
}

.icon_cross {
    transform: rotateY(0deg) rotate(180deg);
}

.bar1,
.bar3 {
    align-self: center;
    background-color: #555;
    height: 10%;
    width: 80%;
    border-radius: 10px;
    display: block;
    transition: all .8s ease;
}

.icon_cross .bar1 {
    transform: translateY(266%) rotateY(0deg) rotate(48deg);
}

.icon_cross .bar3 {
    transform: translateY(-274%) rotateY(0deg) rotate(-48deg);
}

.bar2 {
    align-self: center;
    background-color: #555;
    height: 10%;
    width: 80%;
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: opacity 0.6s 0.2s ease;
}

.icon_cross .bar2 {
    opacity: 0;
    transition: opacity 0.1s ease;
}